#loginModalId button, #accountModalId button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1em;
}

button {
  cursor: pointer;
}

.boutonConnexion, .boutonValider {
  width: 80%;
  margin: 0% 10%;
  text-decoration: none;
  padding: 15px;
  font-family: arial;
  font-size: 1em;
  color: #323230;
  background: radial-gradient(circle, #7ea10b 75%, #bcd804 99%, #e2e117 100%);
  border-radius: 25px;
  border: none;
  box-shadow: 3px 3px 10px #262626;
}

.boutonConnexion:hover, .boutonValider:hover {
  box-shadow: 0px 0px 3px #262626;
}

.loginModalContent .close {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 48px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.accountCreationDiv .close {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 48px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.boutonCreation {
  width: 80%;
  text-decoration: none;
  padding: 15px;
  font-family: arial;
  font-size: 1em;
  color: #323230;
  background: radial-gradient(circle, #7ea10b 70%, #bcd804 99%, #e2e117 100%);
  border-radius: 25px;
  border: none;
  box-shadow: 3px 3px 10px #d8d8d8;
  }
  
  
.boutonCreation:hover {
  box-shadow: 0px 0px 3px #d8d8d8;
  }
