@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Tourney:ital,wght@0,400;0,600;1,200&display=swap');

#modalOverlayId {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 100;
}

#loginModalId {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: none;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  z-index: 110;
}

#accountModalId {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2em;
  background-color: rgb(171, 172, 154);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  display: none;
  border: none;
  border-radius: 15px;
  overflow: hidden;
  z-index: 120;
}

.loginModalContent {
  display: flex;
  margin: 0;
  padding: 0;
  width: 65vw;
  height: auto;
  justify-content: space-around;
}

.accountCreationDiv {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 35vw;
  height: auto;
  justify-content: space-around;
  align-items: center;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

.connexionDiv {
  width: 50%;
  margin: 0;
  padding: 5% 10%;
  background-color: rgb(171, 172, 154);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.2em;
  padding: 5% 0% 2% 0%;
}

input {
  font-size: 0.8em;
  padding: 3% 1%;
  border: none;
  border-radius: 5px;
}

input:focus {
  outline: 3px solid #7ea10b;
}

a {
  padding: 2% 0% 10% 0%;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: underline;
}

#loginModalId button, #accountModalId button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1em;
}

button {
  cursor: pointer;
}

.boutonConnexion, .boutonValider {
  width: 80%;
  margin: 0% 10%;
  text-decoration: none;
  padding: 15px;
  font-family: arial;
  font-size: 1em;
  color: #323230;
  background: radial-gradient(circle, #7ea10b 75%, #bcd804 99%, #e2e117 100%);
  border-radius: 25px;
  border: none;
  box-shadow: 3px 3px 10px #262626;
}

.boutonConnexion:hover, .boutonValider:hover {
  box-shadow: 0px 0px 3px #262626;
}

.inscriptionDiv {
  width: 50%;
  margin: 0;
  padding: 5% 10%;
  color: white;
  background: linear-gradient(
    to top, 
    #555555 0%,     /* Couleur en haut */
    #404040 15%,    /* Couleur entre le centre et le haut */
    #353535 50%,    /* Couleur centrale */
    #404040 85%,    /* Couleur entre le centre et le bas */
    #555555 100%    /* Couleur en bas */
  );
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.accountCreationDiv {
  padding: 10% 10%;
}

.accountCreationDiv p {
  padding: 2% 0% 10% 0%;
}


.loginModalContent .close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.accountCreationDiv .close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.boutonCreation {
  width: 80%;
  text-decoration: none;
  padding: 15px;
  font-family: arial;
  font-size: 1em;
  color: #323230;
  background: radial-gradient(circle, #7ea10b 70%, #bcd804 99%, #e2e117 100%);
  border-radius: 25px;
  border: none;
  box-shadow: 3px 3px 10px #d8d8d8;
  }
  
  
.boutonCreation:hover {
  box-shadow: 0px 0px 3px #d8d8d8;
  }
