@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Tourney:ital,wght@0,400;0,600;1,200&display=swap');

section {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4em;
  display: flex;
  justify-content: space-around;
}

.CGUDiv, .confidentDiv {
  text-align: justify;
  width: 90%;
  height: auto;
  margin: 2% 0% 2% 0%;
  padding: 3% 3% 3% 3%;
  background-color: rgb(171, 172, 154);
  border: none;
  border-radius: 30px;
  box-shadow: 4px 4px 10px #262626;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin: 2% 0% 0% 0%;
}

h3 {
  font-size: 1.5em;
  margin: 2% 0% 0% 0%;
}

h4 {
  margin: 1% 0% 0% 0%;
  font-size: 1.2em;
}

p {
  margin: 0.5% 0% 0% 2%;
  font-family: "Roboto Serif", serif;
  font-weight: 450;
}

.CGUDiv ul, .confidentDiv ul {
  margin-left: 5%;
  font-family: "Roboto Serif", serif;
  font-weight: 450;
}

ul li::marker {
  font-size: 0.8em;
}